body{
margin:0;
padding:0;
}
div{
background:black;
height:100px;
width:100%;
overflow:auto;
}
img{
height:100px;
position:absolute;
}
ul{
padding-left:137px;
margin-top:-5px;
position:absolute;
}
a{
padding-left:30px;
font-family:impact;
color:white;
font-size:30px;
text-decoration:none;
position:relative;
}
ul a:hover{
color:#f2a900;
transition:0.1s;
}
#insta{
margin-left:1080px;
height:61px;
margin-top:15px;
}
#insta:hover{
height:63px;	
}

#fb{
height:38px;
border-radius:60%;
margin-left:1150px;
margin-top:27px;
}
#fb:hover{
height:40px;	
}
#you{
width:37px;
height:30px;
margin-left:1194px;
margin-top:30px;
}
#you:hover{
height:32px;	
}
#bg{
height:120%;
width:100%;
position:relative;
}
#news{
position:relative;
background-color:white;
font-family:"monospace";
text-align:center;
margin-top:55px;
font-family:impact;
font-size:240%;
}
#p1 img{
width:100%;
height:55%;
position:relative;
}
#p1{
background-color:white;
width:360px;
height:395px;
margin-left:5%;
position:absolute;

}
#p1 p{
padding-top:1px;
font-family:impact;
font-size:130%;
color:gray;
}
#p2 img{
width:100%;
height:55%;
position:relative;
}
#p2{
background-color:white;
width:360px;
height:395px;
margin-left:37%;
position:absolute;
}
#p2 p{
font-family:impact;
color:gray;
font-size:130%;
}
#p3 img{
width:100%;
height:55%;
position:relative;
}
#p3{
background-color:white;
width:360px;
height:395px;
margin-left:70%;
position:relative;

}
#p3 p{
font-family:impact;
font-size:130%;
color:gray;
padding-left:10px;
}
#button1{
position:relative;
background-color:white;
font-family:monospace;
text-align:center;
margin-bottom:45px;
font-family:impact;
font-size:250%;
padding-top:6%;
}
#button1 button{
text-align:center;
height:100%;
width:300;	
background-color:white;
border-left:solid 2px gray;
border-top:solid 2px gray;	
font-family:impact;
font-size:85%;
}
#button1 button:hover{
background:#f2a900;
transition:0.01s;
font-size:91%;
border:2px solid #f2a900;
}
#ss{
position:relative;
background-color:white;
font-family:"monospace";
margin-top:40px;
font-family:impact;

}
#ss p{
margin-left:43.2%;
position:absolute;
font-size:40px;
}
#sm{
background:white;
}
#sm1{
left:670px;
height:55px;
}
#sm2{
left:680px;
height:50px;
}
#sm3{
left:570px;
height:49px;
}

#p13 img{
position:relative;
}
#p11 img{
width:100%;
height:55%;
position:relative;
}
#p11{
background-color:white;
width:360px;
height:395px;
margin-left:5%;
position:absolute;
}
#p11 p{
font-family:impact;
font-size:130%;
color:gray;
}
#p12 img{
width:100%;
height:55%;
position:relative;
}
#p12{
background-color:white;
width:360px;
height:395px;
margin-left:37%;
position:absolute;
}
#p12 p{
font-family:impact;
color:gray;
font-size:130%;
}
#p13 img{
width:100%;
height:55%;
position:relative;
}
#p13{
background-color:white;
width:360px;
height:395px;
margin-left:70%;
position:relative;
}
#p13 p{
font-family:impact;
font-size:130%;
color:gray;
}
#poster{
background-image:url("poster.jpg");
background-size:100%;
height:240;
background-repeat:no-repeat;
margin-top:4%;
}
#cpy{
height:110px;
}
#aa{
color:gray;
margin-left:26%;
margin-top:88px;
font-size:15px;
position:absolute;
}
#last{
margin-left:560px;
position:absolute;
height:15%;
}
#myself{
position:absolute;
color:white;
font-family:impact;
font-size:42px;
margin-top:21px;
margin-left:52%;
}
#pin{
background-color:#111;
color:white;
height:57px;
font-family:dejaVu sans;

}
#pin p{
padding-top:5px;
padding-left:20px;
position:absolute;
}
#pin p #pinlink{
font-size:17px;
border-bottom:2px solid white;
padding-right:28px;
font-family:dejaVu sans;
}
#pin p #pinlink:hover{
background:#f2a900;
transition:0.01s;
border:2px solid #f2a900;
border-radius:7px;
}
#cim{

height:120%;
width:100%;
position:relative;
filter:blur(0px);

}

